<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870711014360-kvr5k9mnn3b7ho5dr7ish8ito0bl88i9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870711014360-kvr5k9mnn3b7ho5dr7ish8ito0bl88i9</string>
	<key>API_KEY</key>
	<string>AIzaSyDSYPick6uVcYCMsTnCeaNbqGCf4rkDbc8</string>
	<key>GCM_SENDER_ID</key>
	<string>870711014360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PaoloProdossimoLopes.Uber-Clone-App</string>
	<key>PROJECT_ID</key>
	<string>uber-clone-app-bad23</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-clone-app-bad23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870711014360:ios:146b69e5b4648734f138ad</string>
</dict>
</plist>